@import "../../_setting.scss";

$appbar-bg-color: #0067a3;
.navbar-app {
  height: $navbar-app-height;
  padding-left: $gap;
  background-color: $appbar-bg-color;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
